.main-wrapper-login {
  align-items: center;
  background-color: steelblue;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 20px 40px;
}

.container h1 {
  margin-bottom: 30px;
  text-align: center;
}

.container a {
  color: lightblue;
  text-decoration: none;
}

.btn {
  background: lightblue;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.form-control {
  margin: 20px 0 40px;
  position: relative;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px white solid;
  color: white;
  display: block;
  font-size: 18px;
  padding: 15px 0;
  width: 100%;
}

.form-control input:focus, .form-control input:valid {
  border-bottom-color: lightblue;
  outline: 0;
}

.form-control p {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 15px;
}

.form-control p span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + p span, .form-control input:valid + p span {
  color: lightblue;
  transform: translateY(-40px);
}
