.globalheader-container {
  @include flex(flex, row, space-between, center);
  position: fixed;
  z-index: 999999;
  width: 100%;
  background-color: $trybeGreen;
  height: 55px;
  top: 0;
  .left {
    @include flex(flex, row, space-around, center);
    width: 453px;
    button  {
      position: relative;
      background: $trybeGreen;
      height: 55px;
    }
    margin-left: 35px;
  }
  .right {
    @include flex(flex, row, space-around, center);
    width: 453px;
    button {
      position: relative;
      background: $trybeGreen;
      height: 55px;
    }
    margin-right: 35px;
  }
  button {
    color: $darkWhite;
    font-size: 22px;
    font-weight: 500;
    padding: 0 55px;
    outline: none;
    border: none;
    &:hover {
      transition: 0.3s;
      background-color: $enabledGreen;
      // @if (background-color: $trybeGreen) {
      
      // }
      box-shadow: inset 0 -17px 0px -14px #FFFFFF;
    }
  }
}
