.orders-container {
  @include flex(flex, column, center, center);
  @include loading-div(500px, 500px, $trybeGreen);
  margin: 5% auto 0 auto;
  .orderlist-container {
    @include flex(flex, row, center, center);
    .order-card {
      @include flex(flex, row, space-between, center);
      width: 500px;
      height: 200px;
      margin: 0 10px;
      border-radius: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 4px 0 rgba(5, 3, 3, 0.2) , 0 2px 1px 0 rgba(0, 0, 0, 0.2);
      .order-left {
        @include flex(flex, column, center, center);
        width: 30%;
        background-color: rgba(255, 255, 255, 0.787);
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        span {
          font-weight: 500;
          color: $lightBlack;
          font-size: 20px;
          padding-top: 5px;
        }
      }
      .order-right {
        width: 70%;
        height: 100%;
      }
    }
  }
}
