/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $darkWhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $trybeGreen;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $enabledGreen;
}
