.sign-container {
  align-items: center;
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: space-around;
  overflow: hidden;
  width: 22%;
}

.sign-container header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sign-container img {
  margin: 3px 0 15px;
  width: 3vw;
}

.sign-container h1 {
  font-size: 1.7vw;
  margin: 18px 0;
}

.sign-form {
  align-items: center;
  background: var(--orange-300);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.sign-form label {
  width: 90%;
}

.sign-form label p {
  margin-left: 30px;
}

.sign-form input {
  border: 1px solid var(--gray-100);
  border-radius: 5px;
  box-shadow: 2px 2px 7px var(--gray-500);
  font-size: 1.2vw;
  margin: 5px;
  padding: 2%;
  width: 95%;
}

.sign-form button {
  background: var(--blue-100);
  border: 1px solid var(--gray-500);
  border-radius: 10px;
  box-shadow: 4px 4px 10px var(--gray-500);
  color: var(--white);
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 700;
  margin-top: 15px;
  padding: 0.5vw;
  transition: 0.5s;
  width: 85%;
}

.sign-form button:disabled {
  cursor: default;
  opacity: 0.65;
}

.sign-form button:hover:enabled {
  background: var(--blue-200);
}

.error-message {
  color: var(--orange-500);
  font-size: 1.2vw;
  font-weight: 700;
  margin-top: 15px;
}
