.table > tbody > tr > td.quantity {
  border-radius: 25px;
  background: rgb(7, 101, 0);
  color: white;
  font-weight: bold;
  padding: 20px;
  width: 200px;
}

.table > tbody > tr > td.subtotal {
  border-radius: 25px;
  background: rgb(0, 92, 255);
  color: white;
  font-weight: bold;
  padding: 20px;
  width: 200px;
}

.table > tbody > tr > td.value {
  border-radius: 25px;
  background: rgb(76, 0, 132);
  color: white;
  font-weight: bold;
  padding: 20px;
  width: 200px;
}