/* .table > tbody > tr > td.quantity {
  background: rgb(7, 101, 0);
  border-radius: 25px;
  color: white;
  font-weight: 700;
  padding: 20px;
  width: 200px;
}

.table > tbody > tr > td.subtotal {
  background: rgb(0, 92, 255);
  border-radius: 25px;
  color: white;
  font-weight: 700;
  padding: 20px;
  width: 200px;
}

.table > tbody > tr > td.value {
  background: rgb(76, 0, 132);
  border-radius: 25px;
  color: white;
  font-weight: 700;
  padding: 20px;
  width: 200px;
} */
