.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 12px;
  margin: 20px 10px;
  position: relative;
  transition: 0.3s;
  width: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card input {
  width: 50px;
}

.card img {
  height: 80px;
  max-width: 100px;
}

.price {
  position: absolute;
  top: 10px;
  z-index: 2;
}


.card div {
  padding: 5px 10px;
  text-align: center;
  width: 100%;
}
