$lightBlack: #333;
$lighterBlack: #434343;
$lightestBlack: #5d5c5c;
$darkWhite: #ece8e8;
$darkerWhite: #e2e2e2;
$darkestWhite: #BBB5B5;
$lightblue: royalblue;
$blue: #275fb4;
$darkBlue: #223C5B;
$darkestBlue: #091c32;
$sucess: #4bb543;
$white: #ffffff;
$disabledGreen: #0d311c;
$trybeGreen: #0fa36b;
$enabledGreen: #0e8859;
$libreyellow: #fff159;
//#4d4c4c
