.main-wrapper-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.order-detail-status {
  align-items: center;
  background-color: thistle;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  width: 80vw;
}

.order-detail-status p {
  margin: 0;
}

.order-detail-button {
  font-size: small;
}

.status-label {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100px;
}

.pendente {
  background-color: #ccb800;
}

.preparando {
  background-color: #6c0;
}

.entregue {
  background-color: #00cc9b;
}
