.main-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.content {
  align-items: center;
  background-color: rgb(236, 233, 233);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 300px;
}

.content input {
  margin: 10px;
}

.content button {
  margin: 5px;
}
