.main-wrapper-checkout {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.checkout-container {
  align-items: center;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19) , 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.checkout-container-inputs {
  display: flex;
  justify-content: space-around;
  width: 1000px;
}

.checkout-container-inputs label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.checkout-container-inputs input {
  width: 300px;
}

.checkout-container-inputs select {
  height: 25px;
  width: 300px;
}

.select-input p {
  margin: 0;
  margin-top: 10px;
}

.checkout-btn {
  background-color: #036b52;
  border-radius: 10px;
  color: lightgray;
  font-weight: 800;
  height: 50px;
  width: 200px;
}
