header {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  display: flex;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}

li {
  font-size: 13.33px;
  text-align: center;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li a {
  background-color: #f3f3f3;
  border: none;
  display: block;
  padding: 5px 15px;
  text-align: center;
}

li a:hover {
  background-color: #fff9d5;
}
