.register-master-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  @include loading-div(500px, 600px, $trybeGreen);
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 250px auto;
    min-width: 400px;
    min-height: 430px;
    background-color: $trybeGreen;
    border: 1px rgba(0, 0, 0, 0.3)solid;
    border-radius: 25px;
    color: $darkWhite;
    .register-form {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      position: relative;
      .input {
        width: 320px;
        height: 35px;
        transition: 0.1s;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        font-weight: 900;
        color: $trybeGreen;
        padding-left: 15px;
        margin: 5px;
        margin-bottom: 30px;
        &:focus {
          outline: none;
          border-color: #9ecaed;
          box-shadow: 0 0px 7px $darkWhite;
        }
        &:hover {
          box-shadow: 0 0px 7px $darkWhite;
        }
      }
      .email-div {
        display: flex;
        flex-direction: column;
        .hidden-span {
          display: none;
          position: absolute;
          bottom: -10px;
          text-align: center;
          font-weight: 900;
          font-size: 19px;
          width: 100%;
          color: crimson;
        }
      }
    }
  
    button {
      color: $trybeGreen;
      background-color: $darkWhite;
      width: 300px;
      height: 45px;
      font-size: 20px;
      font-weight: 900;
      border-radius: 7px;
      margin-top: 25px;
      border: none;
      transition: 0.2s;
      &:hover {
        transition: 0.3s;
        box-shadow: 0 0px 7px $darkWhite;
      }
      &:focus {
        outline: none;
      }
      &:disabled {
        background-color: $disabledGreen;
        box-shadow: 0 0px 0px;
      }
    }
  }
}
