.login {
  background-color: #004643;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

img {
  border-radius: 10px;
  display: block;
  height: 240px;
  margin: auto;
  margin-top: 3em;
}

.login-title {
  color: #fffffe;
  font-family: Nunito , monospace;
  font-size: 3em;
  text-align: center;
}

.login-form {
  align-items: center;
  background-color: #abd1c6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 320px;
  margin: auto;
  width: 400px;
}

label {
  color: #fffffe;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 600;
  margin-top: 10px;
}

input {
  border: 1px solid #001e1d;
  border-radius: 5px;
  font-size: x-large;
  height: 40px;
  margin-top: 5px;
  width: 300px;
}

.login-button {
  background-color: #f9bc60;
  border: 2px solid #001e1d;
  border-radius: 5px;
  color: #001e1d;
  cursor: pointer;
  font-family: Poppins , monospace;
  font-size: x-large;
  font-weight: 600;
  margin-top: 15px;
  padding: 4px;
  transition: 250ms;
  width: 340px;
}

.login-button:hover {
  background-color: #001e1d;
  color: #f9bc60;
}

.login-button:disabled {
  background-color: white;
  border: none;
  color: grey;
  cursor: not-allowed;
  transition: none;
}

.register-button {
  background-color: #f9bc60;
  border: 2px solid #001e1d;
  border-radius: 5px;
  color: #001e1d;
  cursor: pointer;
  font-family: Poppins , monospace;
  font-size: x-large;
  font-weight: 600;
  margin-top: 15px;
  padding: 4px;
  transition: 0.5s;
  width: 340px;
}

.register-button:hover {
  background-color: #001e1d;
  color: #f9bc60;
}
