.order-card {
  display: inline-block;
  padding: 5px auto;
  width: 35%;
}

.order-card-number {
  display: inline-block;
  width: 30%;
}

.order-card-status {
  display: inline-block;
  width: 30%;
}

.order-card-info {
  display: inline-block;
  width: 30%;
}
