.nav-link {
  color: white;
}

.extend {
  height: 100%;
  width: 100%;
}

.nav-link:hover {
  color: #2fc18c;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #2fc18c;
  color: white;
}
