.card {
  align-items: stretch;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  margin: 15px;
  transition: 0.3s;
  width: 200px;
}

.card p {
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_image {
  display: flex;
  justify-content: center;
}

.card_image img {
  height: 150px;
  width: 150px;
}

.card_bottom {
  align-items: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.card_foot {
  display: flex;
  padding-bottom: 5px;
}

.card_bottom p {
  font-weight: 400;
}

.card_foot input {
  border: none;
  border-radius: 5px;
  margin: 0 1px;
  text-align: center;
  width: 30px;
}

.card_foot button {
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 700;
  height: 20px;
  width: 30px;
}

.card_price {
  background-color: rgba(226, 10, 21, 0.4);
  border-radius: 5px;
  left: 150px;
  position: relative;
  text-align: center;
  top: 5px;
  width: 40px;
}

button:active {
  transform: scale(0.95);
}

h6 {
  margin: 5px;
}
