* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #FFFFFF;

  --gray-100: #AFB2B1;
  --gray-500: #4E4B4B;
  --gray-900: #001813;

  --blue-100: #6F80AB;
  --blue-200: #3B548F;

  --orange-100: #FEC844;
  --orange-200: #FF8E01

}

body {
  height: 100%;
  width: 100%;
}

#root {
  align-items: center;
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('./images/background.jpg');
  color: var(--gray-900);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
