.Card {
	background: #EAF1EF;
	border: 1px solid #B1C2BE;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	display: flex;
  height: 100px;
  width: 300px;
}

.order-number {
	align-items: center;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
}

.order-status-date {
	display: flex;
	height: 60px;
}

.status-date-value {
	display: flex;
	flex-direction: column;
	width: 62px;
}

.order-status {
	align-items: center;
	background: rgba(204, 184, 0, 0.75);
	border-radius: 10px;
	display: flex;
	height: 55px;
	justify-content: center;
	width: 150px;
}
